---
layout: default
---

<div align="center">
    <h2>Artwork Archive</h2>
    <hr>
</div>
<br clear="all" />

<style>
    img {
      /* margin: 40px; */
      width: auto;
      height: auto;
      max-width: 150px;
      max-height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
    }
    .wrapper {
      display: grid;
      grid-template-columns: auto min-content;
      grid-gap: 20px;
    }
    .box {
      padding: 10px;
    }
</style>

<div class="wrapper">
{% for artwork in site.artworks reversed %}
    <div align="left", class="box">
        <b>{{ artwork.artist }}</b><br>
        <a href="{{ artwork.url }}"><i>{{ artwork.title }}</i> ({{ artwork.date | date : "%Y"}})</a><br>
        {{ artwork.content | truncate : 260}} <br>
    </div>
    <div class="box">
    {% if artwork.images.size > 0 %}
        {% assign first = artwork.images | first %}
        <img src="{{ site.baseurl }}/{{ first[1] }}", align="right", style="img"></img>
    {% endif %}
    </div>
{% endfor %}
</div>