---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ExhibitionCard from "@/components/ExhibitionCard.astro";
import ArtworkCard from "@/components/ArtworkCard.astro";

const artwork = await getCollection("artwork");
const exhibitions = await getCollection("exhibitions");
---

<Layout title="Artwork" description="A collection of my artwork.">
  <h2 class="text-lg font-semibold text-center pb-6">EXHIBITIONS</h2>
  <div class="flex flex-row flex-wrap gap-6 items-center justify-center">
    {
      exhibitions
        .sort((a, b) => b.data.year - a.data.year)
        .map((artwork) => <ExhibitionCard exhibition={artwork} />)
    }
  </div>

  <div class="my-8"></div>

  <h2 class="text-lg text-center font-semibold pb-6">WORK</h2>
  <div class="flex flex-row flex-wrap gap-6 items-center justify-center">
    {
      artwork
        .sort(
          (a, b) =>
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
        )
        .map((artwork) => <ArtworkCard artwork={artwork} />)
    }
  </div>
</Layout>
