---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import profileImage from "/assets/images/profile.jpeg";
---

<Image src={profileImage} alt="me" height={300} />

<Layout>
  I am a Cornell Engineering student ("22) studying Operations Research and
  Computer Science. In Summer 2021, I was a Data Science Intern on Uber's
  Matching and Shared Rides team where I developed and implemented an algorithm
  for pre-scheduled rides. Prior to that, I developed materials for the
  forthcoming book, Data Science and Decision Making: An Elementary Introduction
  to Modeling and Optimization. In August 2020, I took a break from that work to
  aid Cornell in providing in person instruction under the restrictions of
  COVID-19. My contributions included re-optimizing course schedules and
  formulating a mathematical model to schedule and assign rooms for exams. You
  can read more about the effort in [this short
  article](https://www.engineering.cornell.edu/spotlights/unsung-engineering-behind-cornells-fall-2020-schedule).
  My broad research interests lie in studying applied combinatorial optimization
  problems with computational components. My coursework has focused on the
  topics of discrete optimization and algorithms. I also enjoy studying how
  these topics can be used in imagemaking. Outside of my studies, I am a
  co-captain of the Cornell Men's Squash Team and an Umphreak looking forward to
  the next show.

  <ul>
    <li>
      <a href="mailto:hw.robbins@gmail.com"
        ><span>hw.robbins@gmail.com</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/henryrobbins"> <span>henryrobbins</span></a>
      <li>
        <a href="https://www.linkedin.com/in/hwr26"> <span>hwr26</span></a>
      </li>
    </li>
  </ul>
</Layout>
