---
import { Link } from "@heroui/react";
import "./src/styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "My Astro Site" } = Astro.props;

// Define your navigation links here
const navLinks = [
  { href: "/", text: "Home" },
  { href: "/art", text: "Art" },
  { href: "/projects", text: "Project" },
  { href: "/experiences", text: "Experience" },
];

// Get current path for active link styling
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div
        class="w-full flex justify-between items-center py-3 px-4 bg-[hsl(var(--heroui-content1))] border-b border-[hsl(var(--heroui-default))]"
      >
        <Link href="/" color="foreground">
          <h1
            class="text-xl font-bold text-[hsl(var(--heroui-content1-foreground))]"
          >
            Henry Robbins
          </h1>
        </Link>
        <nav>
          <ul class="flex flex-row gap-4">
            {
              navLinks.map((link) => (
                <li>
                  <Link
                    href={link.href}
                    color="foreground"
                    className={`${
                      currentPath === link.href ? "font-bold" : ""
                    }`}
                  >
                    {link.text}
                  </Link>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </header>
    <main class="font-mono">
      <slot />
    </main>
  </body>
</html>
