---
layout: default
---

<style>
  figure {
    margin: 40px;
    width: 75%;
    display: inline-block;
  }
  figure img {
    vertical-align: middle;
    /* border: 1px solid black; */
  }
  figure figcaption {
    text-align: center;
}
</style>

<body>
  <b>{{ page.artist }}</b><br>
  <i>{{ page.title }}</i> ({{ page.date | date : "%Y"}})<br>
  {{ page.medium }}<br>
  <a href="{{ page.link }}"><i><u>source code</u></i></a><br><br>
  {{ content }}

  <div class="center">
  {% for work in page.works %}
    <figure>
    {% assign type = work | split: "." %}
    {% if type[1] == "mp4" %}
      <iframe src="{{ site.baseurl }}/{{ work }}", style="img"></iframe>
    {% else %}
      <img src="{{ site.baseurl }}/{{ work }}", style="img"></img>
    {% endif %}
    {% assign tmp = work | split: "/" %}
    {% assign name = tmp[-1] %}
    <figcaption><i>{{ name }}</i> ({{ page.date | date : "%Y"}})<br></figcaption>
    </figure>
  {% endfor %}
</div>


</body>