---
layout: default
---

<style>
  figure {
    margin: 40px;
    width: 75%;
    display: inline-block;
  }
  figure img {
    vertical-align: middle;
    /* border: 1px solid black; */
  }
  figure figcaption {
    text-align: center;
}
</style>

<body>
  <!-- gallery label -->
  <b>{{ page.artist }}</b><br>
  <i>{{ page.title }}</i> ({{ page.date | date : "%Y"}})<br>
  {{ page.medium }}<br>
  <a href="{{ page.link }}"><i><u>source code</u></i></a><br><br>

  <!-- description -->
  {{ content }}

  <!-- include features -->
  {% assign exhibition_list = site.empty %}
  {% for exhibition in site.exhibitions %}
    {% if exhibition.featured contains page.title %}
      {% assign exhibition_list = exhibition_list | push: exhibition %}
    {% endif %}
  {% endfor %}

  {% if exhibition_list.size > 1 %}
    <h2>Exhibition List</h2>
    <ul>
    {% for e in exhibition_list %}
    <li> <a href="{{ e.url }}">{{ e.name }}</a> ({{ e.year }}) </li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if exhibition_list.size == 1 %}
    {% assign e = exhibition_list[0] %}
    <b>Exhibit</b>: <a href="{{ e.url }}">{{ e.name }}</a> ({{ e.year }})
  {% endif %}

  <!-- include images -->
  <div class="center">
  {% for image in page.images %}
    <figure>
      <img src="{{ site.baseurl }}/{{ image[1] }}", style="img"></img>
    <figcaption><i>{{ image[0] }}</i> ({{ page.date | date : "%Y"}})<br></figcaption>
    </figure>
  {% endfor %}
  </div>

  <!-- include videos -->
  <div class="center">
  {% for video in page.videos %}
  <figure>
    {% assign name = video[0] %}
    {% assign id = video[1] %}
    <div style="padding:70% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ id }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="format"></iframe></div>
  <figcaption><i>{{ name }}</i> ({{ page.date | date : "%Y"}})<br></figcaption>
  </figure>
  {% endfor %}
  </div>

</body>