---
layout: default
---
<!-- Title -->
<h1>{{ page.name }}</h1>

<!-- Attributes -->
<b>Dates</b>: <i>{{ page.start | date: "%b. %Y" }} - {{ page.end | date: "%b. %Y" }}</i></br>
<b>GitHub</b>: <a href="{{ page.github_link }}">{{ page.github }}</a></br>
<!-- Associated Project(s) -->
{% if page.projects.size > 0 %}
{% if page.projects.size == 1 %}
<b>Associated Project:</b>
{% else %}
<b>Associated Projects:</b>
{% endif %}
<ul>
{% for project in page.projects %}
{%- assign p = site.projects | where:"name", project | first -%}
<li><b><a href="{{ p.url }}"> {{ p.name }}</a></b> | <i>{{ p.description }}</i></li>
{% endfor %}
</ul>
{% endif %}

<!-- About -->
{{ page.content }}
