---
layout: default
---

<div align="center">
  <h2>Projects</h2>
</div>
<br clear="all" />

<style>
    img {
      width: auto;
      height: auto;
      max-width: 200px;
      max-height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper {
      display: grid;
      grid-template-columns: auto min-content;
      row-gap: 30px;
    }
    .box {
      padding: 5px;
    }
</style>

<div class="wrapper">
{% for project in site.projects reversed %}
    <div align="left", class="box">
        <h3><b>{{ project.name }}</b></h3>
        <i>{{ project.description }}</i><br>
        <a href="{{ project.url }}">About</a> |
        <a href="{{ project.github }}">GitHub Page</a>
        {% if project.website != "None" %}
          | <a href="{{ project.website }}">Website</a><br>
        {% endif %}
    </div>
    <div class="box">
      {% if project.website != "None" %}
        <a href="{{ project.website }}">
          <img src="{{ site.baseurl }}/{{ project.logo }}", style="img"></img>
        </a>
      {% elsif project.website == "None"%}
        <img src="{{ site.baseurl }}/{{ project.logo }}", style="img"></img>
      {% endif %}
    </div>
{% endfor %}
</div>
