---
layout: default
---
<!-- Title -->
<img alt="{{ page.name }}" src="../{{ page.logo }}" height="90"><br/><br>

<i>{{ page.description }}</i><br/>
<a href="{{ page.github }}">GitHub Page</a>
{% if page.website != "None" %}
    | <a href="{{ page.website }}">Website</a>
{% endif %}<br><br>
<!--
description: A Python package used to generate interactive contact tracing visualizations
github: https://github.com/cornell-covid-modeling/cotat
website: https://cotat.henryrobbins.com
permalink: /projects/cotat -->


<!-- Content -->
{{ content }}